<% if notice %>
    <p class="notice container text-center" style='background-color: rgb(167 201 87/ 30%); width:20rem;'><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert container text-center" style='background-color: rgb(167 201 87/ 30%); width:20rem;'><%= alert %></p>
<% end %>
