<nav class="navbar navbar-expand-lg" style='background-color: rgb(215 220 226 / 50%);'>
  <div class="container" style='background-color: rgb(215 220 226 / 0%)'>

    <%= link_to "", root_path, class: "navbar-brand fa-brands fa-twitter 2xl", style: 'color:#3675e2;'%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <%= link_to "", root_path, class: 'fa-solid fa-house', style: 'color: #495057;' %>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark fa-solid fa-magnifying-glass btn-sm" type="submit"></button>
      </form>
    </div>
  </div>
</nav>
